[submodule "Dependencies/Dock"]
	path = Dependencies/Dock
	url = https://github.com/MikiraSora/Dock
[submodule "Dependencies/Injectio"]
	path = Dependencies/Injectio
	url = https://github.com/MikiraSora/Injectio.git
[submodule "Dependencies/Iciclecreek.Avalonia.WindowManager"]
	path = Dependencies/Iciclecreek.Avalonia.WindowManager
	url = https://github.com/MikiraSora/Iciclecreek.Avalonia.WindowManager
[submodule "Dependencies/SimpleTypedLocalizer"]
	path = Dependencies/SimpleTypedLocalizer
	url = https://github.com/MikiraSora/SimpleTypedLocalizer
